body {
    /* background-color: rgb(40, 40, 40); */
    background-color: #f7f2e7;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Nunito', sans-serif;
    /* margin: 0; */
}

span {
    color: #3b5249;
    font-size: 1.125rem;
}

.square {
    border-radius: 1.5rem;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    /* border: white solid 1px; */
    background: purple;
    margin: 1.66%;
    transition: background .25s;
    -webkit-transition: background .25s;
    -moz-transition: background .25s;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 3%;
}

h1 {
    border-radius: 1.5rem;
    color: #3b5249;
    text-align: center;
    background-color: #e6e1dc;
    /* margin: 0; */
    padding: 3%;
    margin: 3%;
    font-weight: 800;
}

#colorDisplay {
    text-transform: uppercase;
    /* color: rgb(29, 32, 33); */
    color: #519872;
    font-size: 2.5rem;
}

#stripe {
    /* background-color: rgb(29, 32, 33); */
    height: 30px;
    text-align: center;
}

button {
    outline: none;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Nunito', sans-serif;
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    font-size: 1.125rem;
    border: 0px;
    color: rgb(249, 249, 243);
    background: #382933;
    transition: all .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
}

button:hover {
    background-color: rgb(234, 220, 181);
    color: rgb(29, 32, 33);
}

#refresh {
    background: rgb(106, 159, 108);
}

#refresh:hover {
    background-color: rgb(234, 220, 181);
}

.selected {
    border: 4px #a4b494 solid;
    border-radius: 0.3rem;
}

#message {
    display: inline-block;
    width: 30%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.3rem;
    }
    #colorDisplay {
        font-size: 1.5rem;
    }
    #message {
        display: inline-block;
        width: 20%;
    }
    #stripe {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}