:root {
  --beige: rgb(249, 249, 243);
  --dk-gry: rgb(49, 46, 46);
  --green: rgb(75, 205, 155);
  --pink: rgb(246, 181, 182);
  --halftone: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==');
  --highlight: rgb(255, 255, 117);
}

body {
  background: var(--beige);
  color: var(--dk-gry);
  font-family: 'Roboto Mono', monospace;
}

p {
  line-height: 1.5em;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;

  border-radius: 50%;
}

.brdr {
  border-bottom: 0.2em solid black;
}

/* ========== NAVBAR ========== */
/* curreently unused */
/* .navbar-toggler-icon { */
/* background-image: url(../img/mylogo.png) !important; */
/* margin: 25px; */
/* padding: 35px !important; */
/* } */

/* currently unused */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link {
  font-size: 0.9em;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
}
.nav-link.inactive {
  text-decoration: line-through;
  text-decoration-thickness: 0.2em;
  opacity: 90%;
  cursor: not-allowed;
}

.nav-link.active:hover {
  text-decoration: underline wavy;
}

/* ========== MAIN BODY ========== */
.main-content {
  margin: 0em;
}

.col {
  padding-bottom: 5em;
  padding-top: 2em;
}

.col-left {
  border-right: 0.2em solid black;
}

.spacer-img {
  margin: auto;
  display: block;
}

.plant1 {
  max-width: 30em;
}

.plant2 {
  max-width: 25em;
}

.boniver {
  max-width: 20em;
}

.header {
  background: var(--halftone);
  text-transform: lowercase;
  padding-top: 10em;
  padding-bottom: 1em;
  margin: 0em;
}

.name-display {
  font-family: 'Gluten', sans-serif;
  font-size: 6em;
  margin-left: 4rem;
  color: var(--dk-gry);
}

.name-caption {
  margin-left: 4rem;
  color: var(--dk-gry);
  background-color: var(--highlight);
  width: fit-content;
  font-weight: bold;
}

h5 {
  font-weight: bold;
  font-size: 1.25rem;
}

/* ===== LINKTREE ===== */

.linkTree {
  text-align: center;
  text-transform: lowercase;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.treeTitle {
  padding-bottom: 1em;
}

.linkItem {
  display: block;
  padding: 1em;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border: var(--dk-gry) 0.3em solid;
  border-radius: 0.5em;
  box-shadow: -0.6em -0.6em 0 0 var(--dk-gry);
  margin: 1.25em 4em;
}

.linkItem a {
  display: block;
  font-size: 1.125em;
}

.linkItem:hover a {
  text-decoration: none;
  color: var(--dk-gry);
  background-color: var(--highlight);
}

.linkItem:hover {
  background: var(--halftone);
  /* boxes groww when hovered */
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 0 var(--dk-gry);
}

.disabled:hover a{
  text-decoration: line-through;
  background-color: #ed6b61;
}

.spotify-container {
  display: block;
  height: fit-content;
  text-decoration: none;
  box-shadow: -0.6em -0.6em 0 0 var(--dk-gry);
  background-color: var(--dk-gry);
  margin: 3em 4em;
  border-radius: 0.5em;
}

.spotify {
  /*
  border: var(--dk-gry) 4px solid;
  border-radius: 0.5em;
  */
}

.note {
  margin: 1em 4em;
}

/* ========== CUSTOM SELECT COLOR ========== */
::-moz-selection {
  /* Code for Firefox */
  background-color: var(--highlight);
}

::selection {
  background-color: var(--highlight);
}

/* ========== MISC STYLE TWEAKS ========== */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: var(--dk-gry);
}

a:hover {
  text-decoration: underline;
}

/* ---------- MOBILE ---------- */

@media (max-width: 768px) {
  #mainNavbar {
    display: none;
  }

  .header {
    padding-top: 2em;
  }

  .name-display {
    margin: auto;
  }

  .name-caption {
    margin: auto;
  }

  .col {
    border-left: none;
    border-right: none;
  }

  .linkItem {
    padding: 0.75em;
    margin: 1.25em 3em;
  }

  .navbar.scrolled {
    background: rgba(49, 46, 46, 0.842);
    transition: background 1s ease-in-out;
  }

  .col-left {
    padding-bottom: 0;
  }
}

.rainbow {
  -webkit-animation: colorchange 20s infinite alternate;
  animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    background-color: blue;
  }

  10% {
    background-color: #8e44ad;
  }

  20% {
    background-color: #1abc9c;
  }

  30% {
    background-color: #d35400;
  }

  40% {
    background-color: blue;
  }

  50% {
    background-color: #34495e;
  }

  60% {
    background-color: blue;
  }

  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }

  90% {
    background-color: #2980b9;
  }

  100% {
    background-color: pink;
  }
}

@keyframes colorchange {
  0% {
    background-color: blue;
  }

  10% {
    background-color: #8e44ad;
  }

  20% {
    background-color: #1abc9c;
  }

  30% {
    background-color: #d35400;
  }

  40% {
    background-color: blue;
  }

  50% {
    background-color: #34495e;
  }

  60% {
    background-color: blue;
  }

  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }

  90% {
    background-color: #2980b9;
  }

  100% {
    background-color: pink;
  }
}
