:root {
  --beige: rgb(249, 249, 243);
  --dk-gry: rgb(49, 46, 46);
  --green: rgb(75, 205, 155);
  --pink: rgb(246, 181, 182);
  --halftone: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==');
  --highlight: rgb(255, 255, 117);
}

body {
  background: var(--beige);
  /* background-image: url(../img/noise-inverse.png); */
  color: var(--dk-gry);
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

p {
  line-height: 1.5em;
}

.mobile {
  display: none;
  margin: 60px;
}

.dot {
  /* background-color: var(--green); */
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.brdr {
  border-bottom: 2px solid black;
}

.col {
  padding-bottom: 50px;
}

/* ========== NAVBAR ========== */
.navbar-brand {
  font-family: 'Gluten', sans-serif;
  font-size: 40px;
}
/* .navbar-toggler-icon { */
/* background-image: url(../img/mylogo.png) !important; */
/* margin: 25px; */
/* padding: 35px !important; */
/* } */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link {
  font-size: 80%;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 20%;
}
.nav-link.inactive {
  text-decoration: line-through;
  text-decoration-thickness: 20%;
  opacity: 90%;
  cursor: not-allowed;
}

.nav-link.active:hover {
  text-decoration: underline wavy;
}

/* ========== MAIN BODY ========== */
.main-content {
  margin: 0;
}
.col-left {
  border-right: 2px solid black;
}

.col-inner {
  margin-top: 10%;
}

.spacer-img {
  margin: auto;
  display: block;
  width: 60%;
}

.plant1 {
  max-width: 500px;
}

.plant2 {
  max-width: 400px;
}

.boniver {
  max-width: 200px;
}

.header {
  background: var(--halftone);
  text-transform: lowercase;
  padding-top: 8%;
  color: white;
  padding-bottom: 2%;
  width: 100%;
  margin: 0;
}

.name-display {
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'Gluten', sans-serif;
  font-size: 6rem;
  margin-left: 5%;
  color: var(--dk-gry);
}

.name-caption {
  margin-left: 5%;
  color: var(--dk-gry);
  background-color: var(--highlight);
  width: fit-content;
}

.blurb {
  text-transform: none;
  text-align: left;
  font-weight: bold;
  max-width: 100%;
  display: block;
  margin: auto 25px;
  text-decoration: none;
  color: var(--dk-gry);
  border: var(--dk-gry) 4px solid;
  padding: 2%;
}

h5 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* ===== LINKTREE ===== */

.linkTree {
  text-align: center;
  text-transform: lowercase;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0 10px;
}

.treeTitle {
  padding-bottom: 3%;
  width: 100%;
}

.linkItem {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border: var(--dk-gry) 4px solid;
  border-radius: 5px;
  box-shadow: -10px -10px 0 0 var(--dk-gry);
  margin: 20px 30px;
}

.linkItem a {
  /* link takes up the whole chonk */
  display: block;
  font-size: 1.125rem;
}

.linkItem:hover a {
  text-decoration: none;
  /* font-weight: bold; */
  color: var(--dk-gry);
  background-color: var(--highlight);
}

.linkItem:hover {
  background: var(--halftone);
  /* boxes groww when hovered */
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 0 var(--dk-gry);
}

.spotify-container {
  display: block;
  height: fit-content;
  text-decoration: none;
  box-shadow: -10px -10px 0 0 var(--dk-gry);
  margin: 60px 50px;
  border-radius: 5px;
}

.spotify {
  border: var(--dk-gry) 4px solid;
  border-radius: 5px;
}

/* ========== CUSTOM SELECT COLOR ========== */
::-moz-selection {
  /* Code for Firefox */
  background-color: var(--highlight);
}

::selection {
  background-color: var(--highlight);
}

/* ========== MISC STYLE TWEAKS ========== */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: var(--dk-gry);
}

a:hover {
  text-decoration: underline;
}

/* ---------- MOBILE ---------- */

@media (max-width: 768px) {
  #mainNavbar {
    display: none;
  }

  .name-caption {
    margin: auto;
  }

  .col {
    border-left: none;
    border-right: none;
  }

  .linkItem {
    padding: 10px 25px;
    margin: 20px auto;
    max-width: 500px;
  }

  .navbar.scrolled {
    background: rgba(49, 46, 46, 0.842);
    transition: background 1s ease-in-out;
  }

  .col-left {
    padding-bottom: 0;
  }
}

.rainbow {
  -webkit-animation: colorchange 20s infinite alternate;
  animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    background-color: blue;
  }

  10% {
    background-color: #8e44ad;
  }

  20% {
    background-color: #1abc9c;
  }

  30% {
    background-color: #d35400;
  }

  40% {
    background-color: blue;
  }

  50% {
    background-color: #34495e;
  }

  60% {
    background-color: blue;
  }

  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }

  90% {
    background-color: #2980b9;
  }

  100% {
    background-color: pink;
  }
}

@keyframes colorchange {
  0% {
    background-color: blue;
  }

  10% {
    background-color: #8e44ad;
  }

  20% {
    background-color: #1abc9c;
  }

  30% {
    background-color: #d35400;
  }

  40% {
    background-color: blue;
  }

  50% {
    background-color: #34495e;
  }

  60% {
    background-color: blue;
  }

  70% {
    background-color: #2980b9;
  }
  80% {
    background-color: #f1c40f;
  }

  90% {
    background-color: #2980b9;
  }

  100% {
    background-color: pink;
  }
}
